body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #20212C;
    color: white;
}

#asientosCont{
    display: grid;
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(6, 40px);

    
}
.asiento{
    height: 30px;
    width: 30px;
    background-color: grey;
    border-radius: 20px 20px 0 0;
    transition: 0.5s;
}

.asiento.selec{
    background-color: cyan;
    transition: 0.5s;
}

.asiento.comprado{
    background-color: red;
    cursor: not-allowed;
}
.peliculas{
    margin: 30px;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

body.oscuro{
    background-color: floralwhite;
    color: black;
}

.disable-div {
    pointer-events: none;
}





.card {
   
    margin: 20px 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 250px;
      height: auto;
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
      -webkit-box-shadow: -5px 5px 14px -1px rgba(0, 0, 0, 0.39);
      box-shadow: -5px 5px 14px -1px rgba(0, 0, 0, 0.39);
    }
    .card .card-content {
      border-top: 1px solid #ccc;
      margin-top: 20px;
      padding: 5px 0;
    }
    .card .card-action {
      height: 25px;
    }
    .card .card-action .btn {
      background-color: #e91e63;
      color: white;
      width: 100%;
      height: 20px;
      border: none;
      border-radius: 3px;
    }
    .card .card-image {
      width: 100%;
    }
    .card .card-image img {
      width: 100%;
      height: 40%;
      object-fit: cover;
    }