body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #20212C;
    color: white;
}

#asientosCont{
    display: grid;
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(6, 40px);

    
}
.asiento{
    height: 30px;
    width: 30px;
    background-color: grey;
    border-radius: 20px 20px 0 0;
    transition: 0.5s;
}

.asiento.selec{
    background-color: cyan;
    transition: 0.5s;
}

.asiento.comprado{
    background-color: red;
    cursor: not-allowed;
}
.peliculas{
    margin: 30px;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

body.oscuro{
    background-color: floralwhite;
    color: black;
}
